.App {
  width: 100vw;
  height: 100vw;
}
/* App.css */
:root {
  --bg-color: #F4F7FE; /* Default background color */
}

body {
  background-color: var(--bg-color); /* Apply background color */
  color: var(--text-color);
}

:root {
  --text-color: #2B3674; /* Default text color */
}

/* Apply text color to all text content, including tables */
table {
  color: var(--text-color);
}

